/* Page styling */
body {
  background-color: #191414;
  color: #FFFFFF;
}
  
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #1db954;
}

a:active {
  color: #1db954;
}
  
/* Image styling */
.profileImg {
  border-radius: 50%;
  width: 50px;
}

.friendImg {
  border-radius: 50%;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.userImg {
  border-radius: 50%;
  width: 90px;
  margin-bottom: 10px;
}
  
.artistImg {
  width: 75px;
}

.icon {
  width: 15px;
  margin-right: 5px;
}
  
.center {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
} 

h1 {
  font-size: 40px;
  font-weight: bold;
  font-variant: small-caps;
}

