body {
  font-weight: 600;
}

#login {
  background-color: #1db954;
  border: none;
  color:#FFFFFF;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  font-size: large;
  display: inline-block;
  margin: 6px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-variant: small-caps;
}

#logo {
  max-height: 35px;
}

#intro {
  font-size: small;
}

#privacyPolicy {
  margin-top: 5%;
  font-size: x-small;
  font-weight: normal;
}

#homepage {
  margin-top: 40%;
}

h4 {
  font-size: small;
  font-weight: 600;
  font-variant: small-caps;
}

h5 {
  font-variant: small-caps;
}
