button {
    background-color: Transparent;
    border: none;
    text-align: left;
    word-wrap: break-word;
    font-weight: 600;
    
}
button:hover {
    color: #1db954;
}
#navigation {
    margin-top: 1%;
}

#artist, #track, #genre, #profile, #profilePhoto {
    float: left;
    font-size: 40px;
    font-weight: bold;
    font-variant: small-caps;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
    background-color: Transparent;
    order: none;     
}

#profileNav {
    float: left;
    font-size: 40px;
    font-weight: bold;
    font-variant: small-caps;
    margin-right: 25px;
    margin-bottom: 15px;
    background-color: Transparent;
    order: none; 
}

#viewPhoto {
    position:relative;
    margin-top: 10px;
    margin-bottom: 15px;
    display:inline-block;
}

#viewNav {
    float: left;
    font-size: large;
    font-weight: bold;
    font-variant: small-caps;
}

.showBadge{
    position: absolute;
    right:-20px;
    bottom:-10px;
    background: #1db954;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:1px 5px;
    font-size:11px;
}

.hideBadge{
    position: absolute;
    right:-20px;
    bottom:-10px;
    background: #191414;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #191414;
    padding:1px 5px;
    font-size:11px;
}

/* Item Nav */
ol {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    font-size: small;
    white-space: normal;
}

/* View Nav */
ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
    font-size: medium;
    display: inline-block;
    list-style-position: inside;
}

#itemNav {
    height: 80vh;
    overflow-y: auto;
}

.detailDisplay {
    float: left;
    font-size: small;
    padding-right: 10px;
    margin-left: 20px;
}

.detailDisplayHeader {
    float: left;
    font-size: small;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 5px;
}

#chartDisplay {
    width: 80%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.inactive {
    color: #fff;
}

.active {
    color: #1db954;
}

.viewInactive {
    color: #fff;
    font-variant: small-caps;
    margin-right: 10px;
}

.viewActive {
    color: #1db954;
    font-variant: small-caps;
    margin-right: 10px;
}

.friendCard {
    border-radius: 3px;
    border: 2px solid #1db954;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 15px;
    padding: 5px;
    text-align: center;
}

.profile {
    line-height: .9;
}

.profileData {
    margin-top: 10px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
}

h5 {
    font-size: 18px;
}

h6 {
    font-weight: 600;
}