/* to round profile photos: */
img {
    border-radius: 50%;
  }

/* To create nav lists without bullets */
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

/* Style for buttons in itemNav  */
.itemLink {

}

/* Style for buttons in viewNav */

.viewLink {

}

/* Style for buttons in Navigation bar */
.navbar {
  
}

/* Style for buttons in display nav */
.displayNav {

}

/* styling for curentView */
.currViewLink {

}