{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col" id="navBar">navigation bar</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="row">
                <div class="col" id="viewNav">Nav Goes Here</div>
            </div>
            <div class="row">
                <div class="col" id="current"></div>
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9" id="visMenu">VisMenu Goes Here</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
            <div id="itemNav"></div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            <div class="row">
                <div class="col" id="viewChart">Chart goes here</div>
            </div>
            <div class="row">
                <div class="col" id="timeSig">TimeSig</div>
                <div class="col" id="key">Key</div>
                <div class="col" id="mode">Mode</div>
                <div class="col" id="popularity">Popularity</div>
            </div>
            <div class="row">
                <div class="col" id="details">Details go here</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="footer">Footer links go here</div>
    </div>
</div>

{% block js %}
<script type="text/jsx" src="/static/js/unwrapped.jsx"></script>
{% endblock %}

{% endblock %}