{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <div class="center" id="homepage">
                            <h1>Unwrapped</h1>
                            <h5>for <img id="logo" src="/static/images/Spotify_Logo_RGB_Green.png"></h5>
                    </div>
                    <div class="center" id="intro">
                        Log in with your Spotify account to explore the data behind the music you love!
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="center">
                        <form action="/login">
                            <button id="login" class="login" type="submit">Log In</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    
                    <div class="center" id="privacyPolicy">
                        <h4>Data Privacy Policy:</h4>
                        When logging into Unwrapped we will ask for permission to view your spotify data.
                        You can revoke these permissions and delete all of your data from Unwrapped at any time by visiting your profile page and selecting "delete data".
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>



{% endblock %}