{% extends 'base.html' %}

{% block body %}
<h1>Welcome to Spotify Unwrapped</h1>
    <div>
        <div id="login">
        <h2>Log in to your Spotify account to explore the features of your top Spotify tracks!</h1>
            <form action="/login">
                <button class="login" type="submit">Log In</button>
             </form>
            <!-- <a href="/login">Log in</a> -->
        </div>

        <div>
            <h1>Test H1</h1>
            <h2>Test H2</h2>
            <h3>Test H3</h3>
            <h4>Test H4</h4>
            <h5>Test H5</h5>
            <h6>Test H6</h6>
            <p>Test p</p>

        </div>
    </div>
</p>

{% endblock %}