{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock %}

{% block body %}

<div id="profilePage">
  <h1>Welcome to Spotify Unwrapped</h1>
  <div>
      <h2>
        <img class="profileImg" src="{{ current_user.profile_photo }}">
          {{ current_user.display_name }}
          {{ current_user.user_id }}
      </h2>
      <p>Last data refresh: {{ last_refresh }} | </p>
      <p>
        <a href="/unwrapped">Return to Unwrapped</a> | 
        <a href="/logout">Log Out</a>
      </p>
      <h3>Following</h3>
      {% for followed in following %}
      <a href="/unwrapped/{{ followed.user_id }}">
      <img class="friendImg" src="{{ followed.profile_photo }}"/>
      {{ followed.display_name }}
      {{ followed.user_id }}
      </a>
      {% endfor %}
      <h3>Followers</h3>
      {% for follower in followers %}
      <a href="/unwrapped/{{ follower.user_id }}"></a>
      <img class="friendImg" src="{{ follower.profile_photo }}"/>
      {{ follower.display_name }}
      {{ follower.user_id }}
      </a>
      {% endfor %}
      
  </div>
</div>

{% endblock %}

{% block js %}
<script src="/static/js/profile.js"></script>
<script src="/static/js/d3.js"></script>
{% endblock %}
